{% extends 'base.html' %}

{% load static %}
{% block title %}
Add Income
{% endblock %}
{% block content%}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
    </nav>
</div>
<div class="card mx-4 mt-4">
    <div class="card-header"><h2 class="pt-2 mx-3">Add Income</h2></div>
    <div class="card-body">
        <form action="{% url 'add-income' %}" method="post">
            {% include "_partials/messages.html" %}
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Amount</label>
                <input type="text" name="amount" value="{{values.amount}}" class="form-control form-control-sm">
            </div>
            <div class="mb-3">
                <label class="form-label">Source</label>
                <select class="form-select" name="source" aria-label="Default select example">
                    <option selected>choose source...</option>
                {% for source in sources %}
                    <option name="source" value="{{ source.name }}">{{ source.name }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" value="{{values.description}}" name="description" class="form-control form-control-sm">
            </div>
            <div class="mb-3">
                <label class="form-label">Incomes Date</label>
                <input type="date" value="{{values.income_date |date:'Y-m-d'}}" name="income_date" class="form-control form-control-sm">
            </div>
            <button type="submit" class="btn btn-primary ">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
