{% extends 'base_auth.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}
Login
{% endblock %}
{% block content%}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-header pt-5 text-center">
                <h4 >Login</h4>
            </div>
            <div class="card-body">
                {% include "_partials/messages.html" %}
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3 mx-3 form-group">
                        <label for="exampleInputUsername1" class="form-label">Username</label>
                        <input
                        type="text"
                        name="username"
                        value="{{data.username}}"
                        class="form-control"
                        required
                        />
                    </div>
                    <div class="mb-5 mx-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" required>
                        <div class=" mt-2">Forgot your password? <a href={% url 'request-password' %}>Reset it</a></div>
                    </div>
                    
                    <div class="d-grid gap-2 mx-3">
                        <button type="submit" class="btn btn-block btn-primary submit-btn">Login</button>
                    </div>
                    <div class="mx-3 mt-3"><a href="{% provider_login_url 'google' %}">Login with Google</a></div>
                    <div class="mx-3 mt-3">Don't have an account? <a href={% url 'register'  %}>Register Now!</a></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
