{% extends 'base_auth.html' %}

{% load static %}
{% block title %}
Password Reset
{% endblock %}
{% block content%}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-header pt-5 text-center">
                <h4 >Please, Enter your email to get reset link.</h4>
            </div>
            <div class="card-body">
                {% include "_partials/messages.html" %}
                <form action="{% url 'request-password' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3 mx-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input name="email" value="{{values.email}}" type="email" class="form-control" id="emailField" >
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    
                    <div class="d-grid gap-2 mx-3">
                        <button type="submit" class="btn btn-block btn-primary submit-btn">Submit</button>
                    </div>
                    <div class="mx-3 mt-3">Already knew the password? <a href={% url 'login'  %}>Login Now!</a></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
