{% extends 'base_auth.html' %}

{% load static %}
{% block title %}
Register
{% endblock %}
{% block content%}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-header pt-5 text-center">
                <h4 >Register for a free account</h4>
            </div>
            <div class="card-body">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3 mx-3 form-group">
                        <label for="exampleInputUsername1" class="form-label">Username</label>
                        <input
                        type="text"
                        name="username"
                        id="usernameField"
                        {% comment %} value="{{fieldValues.username}}" {% endcomment %}
                        class="form-control"
                        />
                    </div>
                    <div class="invalid_feedback invalid-feedback" style="display:none">
                    </div>
                    <p class="text-sm mx-3 text-success usernameSuccessOutput"></p>
                    <div class="mb-3 mx-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailField" >
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="email_invalid_feedback invalid-feedback" style="display:none">
                    </div>
                    <p class="text-sm mx-3 text-success emailSuccessOutput"></p>
                    <div class="mb-3 mx-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordField">
                    </div>
                    <div class="mb-3 mx-4 form-check">
                        <input type="checkbox" class="form-check-input showPasswordToggle" id="showPasswordField">
                        <label class="form-check-label" for="exampleCheck1">Show Password</label>
                    </div>
                    <div class="d-grid gap-2 mx-3">
                        <button type="submit" class="btn btn-block btn-primary submit-btn">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
