{% extends 'base_auth.html' %}

{% load static %}
{% block title %}
Setting password
{% endblock %}
{% block content%}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-header pt-5 text-center">
                <h4 >Set your new password.</h4>
            </div>
            <div class="card-body">
                {% include "_partials/messages.html" %}
                <form action="{% url 'set-new-password' uidb64 token %}" method="post">
                    {% csrf_token %}
                    
                    <div class="mb-3 mx-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control passwordField" id="passwordField">
                    </div>
                    <div class="mb-3 mx-4 form-check">
                        <input type="checkbox" class="form-check-input showPasswordField" id="showPasswordField">
                        <label class="form-check-label" for="exampleCheck1">Show Password</label>
                    </div>
                    <div class="d-grid gap-2 mx-3">
                        <button type="submit" class="btn btn-block btn-primary submit-btn">Submit</button>
                    </div>
                </form>
                <div class="mx-3 mt-3 messages">Have an account? <a href={% url 'login' %}>Login Now!</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
